.fundo {
  background-color: black;
  color: purple;
}
.titulo {
  color: greenyellow;
}
.info {
  color: white;
}

.imagem {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-color: greenyellow;
  border-style: solid;
  margin-left: 45%;
  margin-right: 45%;
}

.projetos {
  max-width: 400px;
  max-height: 400px;
}
.fundo2 {
  background-color: grey;
  height: 40px;
  text-align: left;
  font-style: Serif;
  font-size: medium;
  color: white;
}

.info {
  color: white;
  font-size: 30px;
  margin-left: 20px;
}
